# Токен бота (получить у @BotFather)
BOT_TOKEN=

# База данных
DB_HOST=postgres
DB_PORT=5432
DB_NAME=bot_4_youtube
DB_USER=bot_4_youtube
DB_PASSWORD=

# Админ (Telegram ID через запятую если несколько)
ADMIN_IDS=
ADMIN_USERNAME=

# Telegram API (получить на https://my.telegram.org)
API_ID=
API_HASH=

# Local Bot API
BOT_API_URL=http://bot-api:8081

# прокси для YouTube (резидентный IP)
PROXY_URL=http://31.133.93.112:41182
