# Основные зависимости
aiogram==3.26.0
SQLAlchemy==2.0.38
asyncpg==0.30.0
alembic==1.14.1
yt-dlp>=2025.3.31
pydantic-settings==2.8.1

# Утилиты
aiofiles==24.1.0
python-dotenv==1.0.1

# Отправка больших файлов (> 50 МБ) через MTProto
pyrogram==2.0.106
TgCrypto==1.2.5

# Ускорение asyncio (не работает на Windows!)
uvloop==0.22.1
